.button_nav{
    font-family: "ReformaGroteskMediumC", sans-serif;
    color: var(--color-text-white);
    border: none;
    background: none;
    letter-spacing: 1.5px;
}

.button_nav:hover{
    cursor: pointer;
    margin-bottom: 5px;
    transition: margin-bottom 0.3s ease;
}

.button_main_back{
    min-height: 60px;
    min-width: 110px;
    background-color: var(--color-main-red);
    transition: min-width 1s ease;
}

.button_main{
    font-family: "ReformaGroteskDemiC", sans-serif;
    position: relative;
    background: none;
    color: var(--color-text-white);
    border: none;
    bottom: 43px;
    left: 40px;
}

.button_main_back:hover{
    cursor: pointer;
    min-width: 173px;
    transition: min-width 1s ease;
}

.button_main:hover{
    cursor: pointer;
}
