.button_nav{
    font-family: "ReformaGroteskMediumC", sans-serif;
    color: var(--color-text-white);
    border: none;
    background: none;
    letter-spacing: 1.5px;
}

.button_nav:hover{
    cursor: pointer;
    margin-bottom: 5px;
    transition: margin-bottom 0.3s ease;
}

.button_main_back{
    min-height: 60px;
    min-width: 110px;
    background-color: var(--color-main-red);
    transition: min-width 1s ease;
}

.button_main{
    font-family: "ReformaGroteskDemiC", sans-serif;
    position: relative;
    background: none;
    color: var(--color-text-white);
    border: none;
    bottom: 43px;
    left: 40px;
}

.button_main_back:hover{
    cursor: pointer;
    min-width: 173px;
    transition: min-width 1s ease;
}

.button_main:hover{
    cursor: pointer;
}

.button_services_container{
    max-width: 80px;
    display: flex;
    justify-content: start;
    position: relative;
}

.button_services_back{
    min-height: 61px;
    min-width: 42px;
    background-color: var(--color-main-red);
    transition: min-width 1s ease;
}

.button_services{
    font-family: "ReformaGroteskDemiC", sans-serif;
    position: absolute;
    background: none;
    color: var(--color-text-white);
    border: none;
    bottom: 19px;
    left: 20px;
}

.button_services_back:hover{
    cursor: pointer;
    min-width: 79px;
    transition: all 1s ease;
}

.button_services:hover{
    cursor: pointer;
}

.button_slider{
    transform: rotate(45deg);
    border: 3px var(--color-main-red) solid;
    background: none;
    color: var(--color-text-white);
    width: 55px;
    height: 55px;
}

.button_slider h3{
    transform: rotate(-45deg);
    max-width: 30px;
    max-height: 30px;
    position: relative;
    left: 5px;
    bottom: 5px;
}

.button_slider:hover{
    cursor: pointer;
}

.button_services_main_active{
    font-family: "ReformaGroteskDemiC", sans-serif;
    background-color: var(--color-main-red);
    padding: 20px 40px;
    border: none;
    color: var(--color-text-white);
}

.button_services_main_active:hover {
    cursor: pointer;
}

.button_services_main{
    font-family: "ReformaGroteskDemiC", sans-serif;
    background: none;
    padding: 20px 40px;
    border: none;
    color: var(--color-text-white);
}

.button_services_main:hover{
    cursor: pointer;
}