.achievements{
    background-color: #141414;
    color: var(--color-text-white);
    padding: 180px 0;
    display: flex;
    justify-content: center;
}

/*.achievements_container{*/

/*}*/

.achievements_description{
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 750px;
}

.achievements_rhomb_container{
    display: flex;
    gap: 30px;
}

.rhomb{
    min-width: 10px;
    min-height: 10px;
    max-width: 10px;
    max-height: 10px;
    transform: rotate(45deg);
    background-color: var(--color-main-red);
}