.services{
    display: flex;
    justify-content: center;
}

.services_container{
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    text-align: center;
    color: var(--color-text-white);
}

.services_btn{
    margin-bottom: 40px;
}

.rhomb_container{
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-bottom: 20px;
}

.rhomb {
    min-width: 10px;
    min-height: 10px;
    max-width: 10px;
    max-height: 10px;
    transform: rotate(45deg);
    background-color: var(--color-main-red);
}