.header_nav{
    display: flex;
    padding: 40px 312px 0 312px;
    justify-content: space-between;
}

.header_nav_buttons{
    display: flex;
    gap: 40px;
}

.header_nav_menu{
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 50px;
    height: 50px;
    justify-content: center;
}

.header_nav_menu:hover{
    cursor: pointer;
}

.header_menu_line{
    background-color: var(--color-main-red);
    min-height: 3px;
    min-width: 40px;
    margin-left: 10px;
}

.header_menu_line_special{
    background-color: var(--color-main-red);
    min-height: 3px;
    min-width: 40px;
    margin-right: 10px;
}