.header{
    min-height: 1000px;
    background-image: url("../../../public/main-back.png");
    display: flex;
    flex-direction: column;
}

.header_nav{
    display: flex;
    padding: 40px 312px 0 312px;
    justify-content: space-between;
}

.header_nav_buttons{
    display: flex;
    gap: 40px;
}

.header_nav_menu{
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 50px;
    height: 50px;
    justify-content: center;
}

.header_nav_menu:hover{
    cursor: pointer;
}

.header_menu_line{
    background-color: var(--color-main-red);
    min-height: 3px;
    min-width: 40px;
    margin-left: 10px;
}

.header_menu_line_special{
    background-color: var(--color-main-red);
    min-height: 3px;
    min-width: 40px;
    margin-right: 10px;
}

.header_main{
    display: flex;
    flex-direction: column;
}

.main_info_container{
    display: flex;
    flex-direction: column;
    padding: 168px 0 0 0;
    align-items: center;
}

.main_info{
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 820px;
    align-items: center;
}

.main_info_title{
    display: flex;
    flex-direction: column;
    color: var(--color-main-red);
    align-items: center;
}

.main_info_title h1{
    font-family: "ReformaGroteskBoldC", sans-serif;
}

.main_title_rhomb_container{
    display: flex;
    gap: 30px;
}

.main_title_rhomb{
    min-width: 10px;
    min-height: 10px;
    max-width: 10px;
    max-height: 10px;
    transform: rotate(45deg);
    background-color: var(--color-main-red);
}

.main_info h3{
    color: var(--color-text-white);
    font-family: "ReformaGroteskMediumC", sans-serif;
    width: 437px;
    text-align: center;
    line-height: 120%;
}

.main_contacts{
    display: grid;
    grid-template-columns: repeat(3, calc(100% / 3));
    min-width: 100%;
    font-family: "ReformaGroteskDemiC", sans-serif;
}

.main_contacts_block{
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px var(--border-color) solid;
    align-items: center;
    padding: 43px 148px;
    text-align: center;
}

.main_contacts_block h6{
    color: var(--color-text-white);
}

.main_contacts_block h5{
    color: var(--color-main-red);
}

.services{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services_info{
    padding-top: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.services_info h1{
    font-size: 64px;
    color: var(--color-main-red);
    margin-bottom: 33px;
    font-family: "ReformaGroteskBoldC", sans-serif;
    max-width: 640px;
}

.services_info h3{
    margin: 40px 0 92px 0;
    color: var(--color-text-white);
    font-family: "ReformaGroteskMediumC", sans-serif;
    max-width: 450px;
}
