.achievements{
    background-color: #141414;
    color: var(--color-text-white);
    padding: 180px 0;
    display: flex;
    justify-content: center;
}

.achievements_container{
    display: flex;
    gap: 24px;
}

.achievements_description{
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 550px;
}

.achievements_description h2{
    font-family: "ReformaGroteskDemiC", sans-serif;
}

.achievements_description h5{
    font-family: "ReformaGroteskMediumC", sans-serif;
    max-width: 460px;
}

.achievements_rhomb_container{
    display: flex;
    gap: 30px;
}

.rhomb{
    min-width: 10px;
    min-height: 10px;
    max-width: 10px;
    max-height: 10px;
    transform: rotate(45deg);
    background-color: var(--color-main-red);
}

.achievements_list{
    max-width: 740px;
}

.list_container{
    display: flex;
}

.list_block{
    border: 1px var(--border-color) solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 25px 21px 35px 21px;
}

.list_block h2{
    color: var(--color-main-red);
}

.list_block h5{
    font-family: "ReformaGroteskDemiC", sans-serif;
}