*{
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6{
  margin: 0;
  padding: 0;
}

h1{
  font-size: 150px;
}

h2{
  font-size: 52px;
}

h3{
  font-size: 40px;
}

h4{
  font-size: 32px;
}

h5{
  font-size: 24px;
}

h6{
  font-size: 18px;
}

:root{
  --color-main-red: #DB3138;
  --color-text-white: #ffff;
  --border-color: #898989;
}
